body {
  font-family: "Arial", "Meiyo", sans-serif;
}

html {
  font-size: 20px;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
font-family: 'Noto Sans JP', sans-serif;
font-size: 2rem;
letter-spacing: 1.2em;
text-shadow: 1px 1px 2px gray;

}

.skyblue {
  color: skyblue;
}
.pink {
  color: rgb(255,192,203);
}

body {
  text-align: center;
}

hr {
  font-size: 3px;
}

.bold {
  font-weight: bold;
}